data:
  path: '/mnt/nas/synthetic/wind/wind_hourly_age_20251103'  # Base path where client CSV files are located
  files: ['03086']  # Specific client files to load (without .csv extension)
  power_curves_path: '/mnt/nas/synthetic/wind/power_curves'
  nwp_path: '/mnt/nas/icon-d2/csv'
  synth_path: '/mnt/nas/synthetic/open-meteo/icon_d2/wind/wind_hourly_age'
  stations_master: '/home/viktorwalter/Work/DWD/data/stations_list.csv'
  freq: '1h'
  train_frac: 1
  val_frac: 0.25 # abs from train_frac
  test_start: '2025-08-01'
  test_end: '2025-10-21'
  target_col: 'power'
  scale_y: False
  lag_in_col: False
  n_neighbors: 5

params:
  turbines: [
             'Enercon E-70 E4 2.300',
             'Enercon E-82 E2 2.000',
             'Enercon E-115 2.500',
             'Vestas V90',
             'Vestas V112-3.45',
             'Vestas V80-1.8'
            ]
  known_features: [
                   'wind_speed_nwp',    # Will match wind_speed_h247_1, wind_speed_h184_2, etc.
                   #'temperature',       # Will match temperature_h247_1, temperature_h184_2, etc.
                   #'pressure',          # Will match pressure_h247_1, pressure_h184_2, etc.
                   #'relative_humidity', # Will match relative_humidity_h247_1, etc.
                   #'density'           # Will match density_h247_1, etc. (if get_density: True)
                   ]
  observed_features: [
                      'power'
                      ] # lag features
  static_features: [
    #'park_age',
    #'cut_in',
    #'cut_out',
    #'rated_wind_speed',
    # 'hub_height',
    # 'rotor_diameter',
  ]
  aggregate_nwp_layers: 'not' # options: 'not', 'pivot', 'weighted_mean', 'mean'
  get_density: True
  openmeteo:
    nwp_models: ['icon_d2', 'icon_eu', 'icon_global']
  turbines_per_park: 1
  #random_seeds: [69, 90, 43, 75, 43, 45, 48, 69]
  random_seed: 42
  next_n_grid_points: 1  # Number of nearest grid points to include

model:
  output_dim: 48
  lookback: 48
  horizon: 48
  step_size: 3
  batch_size: 32
  epochs: 10
  lr: 0.0004
  optimizer: 'adam'
  loss: 'mse'
  metrics: ['mae', 'rmse', 'r^2']
  fnn:
    units: 128
    n_layers: 2
  cnn:
    filters: 64
    kernel_size: 3
    n_cnn_layers: 5
    increase_filters: False
  rnn:
    n_rnn_layers: 1
    units: 64
    dropout: 0.01
  attention_heads: 32 # if attention is used in hybrid models
  tft:
    n_heads: 6
    hidden_dim: 120
    dropout: 0.01
    n_lstm_layers: 2
    num_quantiles: 1
  callbacks: False
  save_model: True
  shuffle: True
  force_retrain: True
  parallelize: False
  lookup_hpo: True
  verbose: 1


hpo:
  studies_path: '/mnt/nas/optuna_studies.db'
  metric: 'rmse'
  trials: 1000
  kfolds: 12
  min_train_len: 8760 # hours
  val_split: 1
  pruning:
    use_median_pruner: True
    n_startup_trials: 10
    n_warmup_steps: 2
    interval_steps: 1
    disable_pruning: False
  batch_size: [128, 2048]
  epochs: [1, 150]
  n_layers: [1, 4]
  n_cnn_layers: [1, 10]
  n_rnn_layers: [1, 7]
  learning_rate: [0.0001, 0.01]
  attention_heads: [1,64] # if attention is used in hybrid models
  fnn:
    units: [32, 256]
  cnn:
    filters: [16, 128]
    kernel_size: [2, 5]
    increase_filters: False
  rnn:
    units: [16, 100]
    dropout: [0.0, 0.8]
  tft:
    lookback: [48, 96, 144, 192]
    n_heads: [2, 16]
    hidden_dim: [16, 512]
    dropout: [0.0, 0.5]
    n_lstm_layers: [1, 3]
  fl:
    strategy: 'fedavg'
    personalize: False
    n_rounds: [1,20]
    server_lr: [0.0001, 0.1]
    beta_1: [0,1]
    beta_2: [0,1]
    tau: [0.0001, 0.1]

eval:
  results_path: 'results'
  eval_on_all_test_data: True
  retrain_interval: 0 # in hours - 0 if no retraining is wanted
  t_0: 12
  synth_wind:
    h1: 10
    p_s_model: 'huang'
    v2_method: 'alphaI'
    karman: 0.4
    temp_gradient: 0.00649
    interpol_method: 'polynomial'
    polynom_grad: 3
    noise: 0.0
    annual_degradation: 0.0063
    apply_ageing: True
    hourly_resolution: True
    random_seed: 42
    turbine_dir: "/mnt/nas/synthetic/wind/power_curves"
    turbine_power: 'turbine_power.csv'
    turbine_specs: "turbine_specs.csv"
    turbine_cp: "turbine_cp.csv"
    turbine_names: "turbine_names.csv"
    wind_ages: '/mnt/nas/synthetic/wind/wind_ages.npy'
  synth_pv:
    pv_ages: 'data/pv_ages.npy'

fl:
  clients:
    clientA: ['synth_00342', 'synth_04928']
    clientB: ['synth_05158', 'synth_01612']
    clientC: ['synth_00164']
  strategy: 'fedavg'
  n_rounds: 2
  personalize: False
  fedopt:
    server_lr: 0.001
    beta_1: 0.9
    beta_2: 0.99
    tau: 0.001
  force_retrain: True
  verbose: True
  save_history: False
  num_gpus: 1
  num_cpus: 11