data:
  path: '/mnt/nvme1/synthetic/wind/wind_hourly_age_20251103'  # Base path where client CSV files are located
  files: ['00963'] # Specific client files to lo
  power_curves_path: '/mnt/nvme1/synthetic/wind/power_curves'
  nwp_path: '/mnt/nvme1/icon-d2/csv' # '/mnt/nvme1/open-meteo/wind'
  #synth_path: '/mnt/nvme1/synthetic/open-meteo/icon_d2/wind/wind_hourly_age'
  stations_master: 'data/stations_master.csv'
  freq: '1h'
  train_frac: 1
  val_frac: 0.25 # abs from train_frac
  test_start: '2025-08-01'
  test_end: '2025-10-31'
  retrain_interval: 1
  eval_interval: 3
  target_col: 'power'
  scale_x: True
  scale_y: False
  use_pca: False
  pca_components: 3
  lag_in_col: False
  n_neighbors: 5

params:
  turbines: [
             'Enercon E-70 E4 2.300',
             'Enercon E-82 E2 2.000',
             'Enercon E-115 2.500',
             'Vestas V90',
             'Vestas V112-3.45',
             'Vestas V80-1.8'
            ]
  known_features: [
    #'wind_speed_h10', 'wind_speed_h38', 'wind_speed_h78', 'wind_speed_h127', 'wind_speed_h184', 'wind_speed_h247',
    # #'density_h10', 'density_h38', 'density_h78', 'density_h127', 'density_h184', 'density_h247',
    # 'temperature_h10', 'temperature_h38', 'temperature_h78', 'temperature_h127', 'temperature_h184', 'temperature_h247',
    # 'pressure_h10', 'pressure_h38', 'pressure_h78', 'pressure_h127', 'pressure_h184', 'pressure_h247',
    # 'relative_humidity_h10', 'relative_humidity_h38', 'relative_humidity_h78', 'relative_humidity_h127', 'relative_humidity_h184', 'relative_humidity_h247'
    'wind_speed_h78', 'wind_speed_h127', 'wind_speed_h184',
    #'density_h78', 'density_h127', 'density_h184',
    #'wind_speed_h127', 'temperature_h127', 'pressure_h127', 'relative_humidity_h127',
    #'wind_speed_h184', 'temperature_h184', 'pressure_h184', 'relative_humidity_h184',
    #'wind_speed_h127', 'density_h127'
    'density_rotor_eq', # 'wind_speed_rotor_eq',
    #'wind_speed_80m', 'wind_speed_120m','wind_speed_180m', # 'wind_speed_10m',
    #'density_80m', 'density_120m', 'density_180m', # 'density_10m'
                   ]
  observed_features: [
                      'power'
                      ] # lag features
  static_features: [
    # 'park_age',
    # 'cut_in',
    # 'cut_out',
    # 'rated_wind_speed',
    # 'hub_height',
    # 'rotor_diameter',
    # 'altitude'
  ]
  aggregate_nwp_layers: 'weighted_mean' # options: 'not', 'pivot', 'weighted_mean', 'mean'
  get_density: True
  # openmeteo:
  #   nwp_models: ['icon_d2', 'icon_eu', 'icon_global']
  turbines_per_park: 1
  #random_seeds: [69, 90, 43, 75, 43, 45, 48, 69]
  random_seed: 92
  next_n_grid_points: 12 # Number of nearest grid points to include
  aggregate_grid_points: False

model:
  num_workers: 0 # 'auto' for all physical cores
  output_dim: 48
  lookback: 48
  horizon: 48
  step_size: 48
  batch_size: 64
  epochs: 10
  lr: 0.0004
  optimizer: 'adam'
  loss: 'mse'
  metrics: ['mae', 'rmse', 'r^2']
  fnn:
    units: 128
    n_layers: 2
  cnn:
    filters: 128
    kernel_size: 3
    n_cnn_layers: 10
    increase_filters: False
  rnn:
    n_rnn_layers: 2
    units: 64
    dropout: 0.01
  attention_heads: 32 # if attention is used in hybrid models
  stemgnn:
    units: 32
    stack_cnt: 2
    multi_layer: 5
    dropout: 0.5
  tft:
    n_heads: 4
    hidden_dim: 16
    dropout: 0.2
    n_lstm_layers: 1  # Same for encoder and decoder
    static_embedding_dim: 16  # Separate dimension for static feature embeddings (null = use hidden_dim)
    num_quantiles: 1
    clipnorm: 1.0
  callbacks: False
  save_model: True
  shuffle: True
  force_retrain: True
  early_stopping:
    enabled: True  # Set to True to enable early stopping
    patience: 10  # Number of epochs to wait for improvement
    min_delta: 0.0001  # Minimum change to qualify as improvement
    monitor: 'val_rmse'  # Metric to monitor ('val_loss', 'val_rmse', 'val_mae', 'val_r2')
    mode: 'min'  # 'min' for metrics to minimize (loss, rmse, mae), 'max' for metrics to maximize (r2)
    restore_best_weights: True  # Restore model weights from the epoch with the best value
  parallelize: False
  lookup_hpo: True
  verbose: 1


hpo:
  studies_path: '/mnt/nvme1/optuna_studies/optuna_12n.db'
  objectives:
    # - metric: 'val_r2'
    #   direction: 'maximize'
    - metric: 'val_rmse'
      direction: 'minimize'
  trials: 100
  kfolds: 12
  min_train_date: '2024-06-30'
  val_split: 1
  pruning:
    use_median_pruner: True
    n_startup_trials: 10
    n_warmup_steps: 2
    interval_steps: 1
    disable_pruning: False
  batch_size: [32, 1024]
  epochs: [1, 150]
  n_layers: [1, 4]
  n_cnn_layers: [1, 10]
  n_rnn_layers: [1, 7]
  learning_rate: [0.0001, 0.01]
  attention_heads: [1,64] # if attention is used in hybrid models
  fnn:
    units: [32, 256]
  cnn:
    filters: [16, 128]
    kernel_size: [2, 5]
    increase_filters: False
  rnn:
    units: [16, 100]
    dropout: [0.0, 0.8]
  tft:
    n_heads: [1, 8]
    hidden_dim: [16, 256]
    dropout: [0.01, 0.8]
    n_lstm_layers: [1, 5]  # Same for both encoder and decoder
    static_embedding_dim: [8, 128]  # Separate dimension for static feature embeddings (null = use hidden_dim)
    num_quantiles: [1]
    clipnorm: [0.1, 10.0]
  fl:
    strategy: 'fedavg'
    personalize: False
    n_rounds: [1,20]
    server_lr: [0.0001, 0.1]
    beta_1: [0,1]
    beta_2: [0,1]
    tau: [0.0001, 0.1]

eval:
  results_path: 'results'
  eval_on_all_test_data: True
  retrain_interval: 0 # in hours - 0 if no retraining is wanted
  eval_interval: 3
  t_0: 12
  synth_wind:
    h1: 10
    p_s_model: 'huang'
    v2_method: 'alphaI'
    karman: 0.4
    temp_gradient: 0.00649
    interpol_method: 'polynomial'
    polynom_grad: 3
    noise: 0.0
    annual_degradation: 0.0063
    apply_ageing: True
    hourly_resolution: True
    random_seed: 92
    turbine_dir: "/mnt/nvme1/synthetic/wind/power_curves"
    turbine_power: 'turbine_power.csv'
    turbine_specs: "turbine_specs.csv"
    turbine_cp: "turbine_cp.csv"
    turbine_names: "turbine_names.csv"
    wind_ages: '/mnt/nvme1/synthetic/wind/wind_ages.npy'
  synth_pv:
    pv_ages: 'data/pv_ages.npy'

fl:
  clients:
    clientA: ['synth_00342', 'synth_04928']
    clientB: ['synth_05158', 'synth_01612']
    clientC: ['synth_00164']
  strategy: 'fedavg'
  n_rounds: 2
  personalize: False
  fedopt:
    server_lr: 0.001
    beta_1: 0.9
    beta_2: 0.99
    tau: 0.001
  force_retrain: True
  verbose: True
  save_history: False
  num_gpus: 1
  num_cpus: 11